<html>
    <head>
        <title>MLRacer</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="static/index.css">
        <link type="text/css" rel="stylesheet"
            href="{{ url_for('static',filename='index.css')}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
        body {
            background-color: #cccccc;
            color: white;
            }
        .parameters {
            margin: 0 auto;
            width:300px;
            text-align: center;
        }
        </style>
        <script>
            let send_data = function() {
                $.getJSON('/model',{
                    t: $('input[id="input_1"]').val(),
                    v: $('input[id="input_2"]').val(),
                    i: $('input[id="input_3"]').val()
                    
                }, display_results);
            }
            $(function() {
                $('button#submit').click(send_data);
            })
            let display_results = function(data) {
                $("span#input_1_result").text(data.input_1_result)
                $("span#input_2_result").text(data.input_2_result)
            }
        </script>
    </head>
    <body>
        <div>
            <div style='display: flex; justify-content:center;'>
                <a href="/train">Teach the NN How to Play</a>
                <div id=canvasdiv style="top:105px;position:absolute;">
                    <canvas width="50px" height="50px" id=c style='touch-action:none;width:400px;height:400px;'></canvas>
                </div>
                <div style='display:none;position:absolute;margin:auto;top:550px;width:400px;height:400px;background-color:white;'>
                    <img id=road style='position:absolute;left:60px;top:60px;transform:rotate(-90deg);' 
                        src="{{ url_for('static',filename='road.jpeg')}}"/>
                    <img id=car style='position:absolute;left:40px;width:40px;height:40px;transform:rotate(-90deg);' 
                        src="{{ url_for('static',filename='car.jpeg')}}"/>
                </div>
                <div id=setparameters style='justify-content:center; position:absolute;top:5px;width:400px;height:90px;background-color:white;color:black'>
                    {% block content %}
                    <div style='display: flex; justify-content:center;'><label>Select a batch to save to:</label></div>
                    <div style='display: flex; justify-content:center;'>
                        <select id="batchSelector" width="300px">
                            {% for o in batchList %}
                                <option value="{{ o[0] }}" SELECTED>{{ o[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endblock content %}
                </div>
                <div id=parameters style='position:absolute;top:500px;width:400px;height:400px;background-color:white;color:black'></div>
                <div style='position:absolute;top:85px;width:400px;height:20px;background-color:white;color:black'>
                    <div style='display: flex; justify-content:center;'>
                        <div id=fps></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static',filename='game.js')}}"></script>
        <!-- <script>$("#c").css({"height":"500px", "width":"500px"})</script> -->
    </body>
</html>