<html>
    <head>
        <title>Flask Case Study</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="static/index.css">
        <link type="text/css" rel="stylesheet"
            href="{{ url_for('static',filename='index.css')}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
        body {
            background-image: url("static/background.jpeg");
            background-color: #cccccc;
            color: white;
            }
        </style>
        <script>
            let send_data = function() {
                $.getJSON('/model',{
                    t: $('input[id="input_1"]').val(),
                    v: $('input[id="input_2"]').val(),
                    i: $('input[id="input_3"]').val()
                    
                }, display_results);
            }
            $(function() {
                $('button#submit').click(send_data);
            })
            let display_results = function(data) {
                $("span#input_1_result").text(data.input_1_result)
                $("span#input_2_result").text(data.input_2_result)
            }
        </script>
    </head>
    <body>
        <div>
            <a href="/train">Teach the NN How to Play</a>
            <canvas width="50px" height="50px" id=c style='touch-action:none;position:absolute;left:10%;top:10%;width:300px;height:300px;'></canvas>
            
            <div style='position:absolute;left:10%;top:50%;width:300px;height:300px;background-color:white;'>
                <img id=road style='position:absolute;left:20px;top:60px;transform:rotate(-90deg);' 
                    src="{{ url_for('static',filename='road.jpeg')}}"/>
                <img id=car style='position:absolute;width:40px;height:40px;transform:rotate(-90deg);' 
                    src="{{ url_for('static',filename='car.jpeg')}}"/>
            </div>
            <div id=parameters style='position:absolute;left:50%;top:50%;width:320px;height:310px;background-color:white;color:black'></div>
            <div id=fps style='position:absolute;left:50%;top:45%;width:320px;height:25px;background-color:white;color:black'></div>
        </div>
        <script src="{{ url_for('static',filename='game.js')}}"></script>
        <!-- <script>$("#c").css({"height":"500px", "width":"500px"})</script> -->
    </body>
</html>